h1 {
  margin-left: 37.5%;
}
h2 {
  margin-top: 5%;
  margin-left: 20%;
  font-size: 300%;
}
h3 {
  margin-left: 12%;
}
title {
  margin-left: 45%;
}
p {
  font-size: 150%;
  margin-top: 3%;
  margin-left: 20%;
}
form {
  margin-left: 36.5%;
}
#send {
  margin-left: 18%;
}
#title1 {
  font-size: 280%;
}
#hitch {
  margin-left: 65%;
  margin-top: -15%;
  width: 23%;
}
#contact {
  margin-top: 7%;
}

